nav {
    width: 100%;
    background-color: var(--bg-white);
    backdrop-filter: blur(10px);
    padding-inline: 1rem;
    padding-block: .3rem;
    color: black;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    .left,
    .right {
        display: flex;
        gap: .75rem;
    }

    .Spotlight_Search{
        background: var(--bg-white);
        backdrop-filter: blur(10px);
        border: none;
        padding: .2rem 1rem;
        border-radius: 1rem;
    }   

}